{% extends 'layout/_layout.html' %}

{% block css %}
{% endblock %}

{% block title %}
    <ol class="breadcrumb" style="margin-bottom: 0;padding-left: 0px">
        <li><a href="/index.html">首页</a></li>
        <li><a href="#">用户权限</a></li>
        <li><a href="/user.html">用户查询</a></li>
        <li class="active">用户添加</li>
    </ol>
    <h1 class="page-header text-overflow">用户添加</h1>
{% endblock %}

{% block conent %}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">请添加用户信息</h3>
        </div>

        <!--Input Size-->
        <!--===================================================-->
        <form class="form-horizontal" method="POST" action="/add-user.html">{% csrf_token %}
            <div class="panel-body">
                {% for field in obj_form %}
                <div class="form-group">

                    <label for="demo-is-inputnormal" class="col-sm-3 control-label">
                        {% if field.field.required %}
                            <b>{{ field.label }}</b>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    <div class="col-sm-6">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">保存</button>
                        <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset">重置</button>
                    </div>
                </div>
            </div>
        </form>
        <!--===================================================-->
        <!--End Input Size-->

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>


    <script>
        $(function () {
            $.initMenu('#menu_asset');

        });
    </script>
{% endblock %}