<div class="form-horizontal clearfix" style="margin-top:20px;">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">主机信息</h3>
            </div>

            <!--Hover Rows-->
            <!--===================================================-->
            <div class="panel-body">
                <table class="table table-hover table-vcenter">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="text-semibold">主机名</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.hostname }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">SN号</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.sn }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">管理IP</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.manage_ip }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">状态</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.device_status_id }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">更新时间</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.latest_date|date:"Y-m-d" }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--===================================================-->
            <!--End Hover Rows-->

        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">机房信息</h3>
            </div>

            <!--Hover Rows-->
            <!--===================================================-->
            <div class="panel-body">
                <table class="table table-hover table-vcenter">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="text-semibold">机房</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.idc.name }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">楼层</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.floor }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">机柜</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.cabinet_num }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">机位</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.cabinet_order }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">机房地址</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.idc.addr }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--===================================================-->
            <!--End Hover Rows-->

        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">业务线信息</h3>
            </div>

            <!--Hover Rows-->
            <!--===================================================-->
            <div class="panel-body">
                <table class="table table-hover table-vcenter">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="text-semibold">业务线</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">{{ response.data.asset.business_unit.name }}</span></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-semibold">业务联系人</span>
                                <br>
                            </td>
                            <td class="text-center"><span class="text-success text-semibold">
                                {% for obj in response.data.asset.business_unit.contact.role.all %}
                                    <div>
                                        {% if obj.status == 0 %}
                                            <p>{{ obj.name }}</p>
                                            <div style="margin-left: 20px;">
                                                <p>邮箱：{{ obj.email }}</p>
                                                <p>座机：{{ obj.phone }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--===================================================-->
            <!--End Hover Rows-->

        </div>
    </div>
</div>

